.container {
    text-align: center;
    margin: 25px;

}
table {
    margin: auto;
}
input {
    font-size: 40px;
    width: 300px;
    height: 60px;
    border: solid 3px rgb(30, 35, 39);
}
button {
    font-size: 33px;
    height: 60px;
    width: 74px;
    border: solid 2px rgb(12, 12, 15);
    background-color: rgb(215, 220, 222);
    
}
.calculator {
    border: solid 2px rgb(17, 18, 19);
    padding: 20px;
    display: inline-block;
    background-color: rgb(151, 181, 203);
}
